@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav_container_active ul li:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    z-index: 100;
    background: linear-gradient(90deg, #564cff 0%, #2a44df 100%);
    bottom: -5px;
    animation: underline 1s ease 0s 1 normal forwards;
}

.nav_container ul li:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    z-index: 100;
    background: linear-gradient(90deg, #564cff 0%, #2a44df 100%);
    bottom: -5px;
    animation: underline 1s ease 0s 1 normal forwards;
}

@keyframes underline {
    0% {
        transform: scale(0);
        transform-origin: 0% 50%;
    }

    100% {
        transform: scale(1);
        transform-origin: 0% 50%;
    }
}

.nav_container_active {
    background-color: #0e0f1b;
    filter: drop-shadow(7px 10px 25px rgba(0, 0, 0, 0.41));
}

.Main_Container {
    background-image: url(https://res.cloudinary.com/dn5rd6g4b/image/upload/v1675622638/it-webpage/bg-background_1_oxv8by.png);
    background-size: fill;
}

/* swiperjs */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: -5px !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #1e262d;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #31c6fe;
    width: 2rem;
    height: 0.5rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .nav_container {
        background-color: #0e0f1b;
        filter: drop-shadow(7px 10px 25px rgba(0, 0, 0, 0.41));
        padding: 1rem;
    }

    .nav_container_active {
        padding: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.faqsList {
    height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.faqsList.show {
    height: auto;
    padding: 0 1rem;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
